div { border-radius: 5px; }

#encabezado { z-index: 1; 
    position: fixed; 
    background-color: rgb(160, 231, 157); 
    width: 99%; height: 230px; 
    border: 2px dotted rgb(43, 91, 107); 
    font-family: Times; margin-top: -20px; 
    margin-bottom: 10px; 
    border: 2px groove rgb(0, 0, 0);  
}

#foto { float: right; 
    font-size: 1.5em; 
}


.derecha { float: right; 
    background-color: 
    rgb(160, 231, 157); 
    width: 25%; height: 225px; 
    margin-top: 225px; 
    margin-bottom: 10px; 
    border: 2px groove rgb(0, 0, 0); 
}

.izquierda { float: left; 
    background-color: rgb(240, 240, 240); 
    width: 73%; height: 460px; 
    margin-top: 225px; 
    margin-bottom: 10px; 
    border: 2px groove white; }

#pie { 
    margin-top: 20px; 
    margin-bottom: 10px; 
    clear: both; 
    background-color: 
    rgb(235, 235, 235); width: 100%; 
    height: 60px; border: 2px groove white; 
    font-family: Times; 
}

#hv { float: left; 
    font-weight: bold; 
    color: rgb(0, 0, 0); 
    font-size: 2.5em; 
    margin: 22px 10px 10px 10px; 
}

#hv:hover { color: white; }

.content { margin: 10px; }

h4 { color: rgb(0, 0, 0); }

#direccion { text-align: center; 
    color: rgb(0, 0, 0); 
}

span:hover { color: gray; 
    font-weight: bold; 
}

ol { list-style: none; 
    margin: 20px 0 0 -20px; 
    color: rgb(3, 3, 3); 
    font-size: 1em; 
}

a { text-decoration: none; 
    color: rgb(230, 230, 230); 
}

a:active { color: darkred; }

#margen-top { margin-top: 12px; }